* {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Montserrat', sans-serif;
}

section {
   padding: 50px 0 80px;
}

.container {
   display: flex;
   align-items: center;
   padding: 0 5%;
}

.half-width {
   width: 50%;
}

.hero-section .half-width h1 {
   margin-bottom: 40px;
   font-size: 60px;
   font-weight: 700;
   color: #575757;
}

.hero-section .half-width h1 span {
   background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   text-fill-color: transparent;
}

.hero-section .half-width p {
   margin-bottom: 49px;
   font-size: 20px;
   font-weight: 500;
   color: #828282;
   line-height: 1.6;
   letter-spacing: -2;
}

.hero-section .half-width a {
   padding: 22.5px 43px;
   background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
   font-size: 18px;
   font-weight: 600;
   color: #ffffff;
   text-decoration: none;
   line-height: 1.3;
   border-radius: 100px;
}

.hero-section .half-width img {
   width: 100%;
}