* {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Montserrat', sans-serif;
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 5%;
}

.half-width {
   width: 50%;
}

.hero-section {
   padding: 50px 0 80px;
}

.hero-section .half-width h1 {
   margin-bottom: 40px;
   font-size: 60px;
   font-weight: 700;
   color: #575757;
}

.hero-section .half-width h1 span {
   background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   text-fill-color: transparent;
}

.hero-section .half-width p {
   margin-right: 60px;
   margin-bottom: 49px;
   font-size: 20px;
   font-weight: 500;
   color: #828282;
   line-height: 1.6;
}

.hero-section .half-width a,
.about-me .half-width a {
   padding: 22.5px 43px;
   background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
   font-size: 18px;
   font-weight: 600;
   color: #ffffff;
   text-decoration: none;
   line-height: 1.3;
   border-radius: 100px;
}

.hero-section .half-width img {
   width: 100%;
}

.about-me {
   padding-top: 70px;
   background-image: url(images/7.png);
   background-repeat: no-repeat;
   background-size: 100%;
}

.about-me .half-width {
   margin: 0 5%;
}

.about-me .half-width:first-child {
   text-align: center;
}

.about-me .half-width img {
   width: 64.5%;
   text-align: center;
}

.about-me .half-width h2,
.recipies-title h2 {
   margin-bottom: 32px;
   font-size: 40px;
   font-weight: 700;
   color: #707070;
}

.about-me .half-width p,
.recipies-title p,
.my-recipies .half-width p {
   margin-bottom: 70px;
   font-size: 18px;
   font-weight: 400;
   color: #18191F;
   line-height: 32px;
}

.my-recipies {
   padding: 72px 0;
}

.my-recipies .half-width,
.count {
   padding: 30px;
   border-radius: 30px;
   box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
}

.my-recipies .half-width:first-child {
   margin-right: 20px;
}

.recipies-title {
   margin: 0 25%;
   text-align: center;
}

.recipies-title p,
.my-recipies .half-width p {
   margin-bottom: 30px;
}

.my-recipies .half-width img {
   width: 100%;
   margin-bottom: 20px;
}

.my-recipies .half-width h3 {
   margin-bottom: 10px;
   font-size: 28px;
   font-weight: 800;
}

.countdown .one-third-width {
   padding: 25px;
}

.countdown h2 {
   font-size: 48px;
   font-weight: 700;
}

.countdown p {
   font-size: 16px;
   font-weight: 400;
}

.count {
   width: 100%;
   margin: 30px 0 100px 0;
   padding: 30px 100px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.count .one-third-width {
   width: 33.33%;
   display: grid;
   justify-content: center;
}